<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Optional Telephony Support (not required) -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <!-- Optional Camera -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>

    <!-- permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Foreground services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VigilNet">

        <!-- SHAKE SENSOR -->
        <service
            android:name=".ShakeService"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <!-- SOS SMS sending -->
        <service
            android:name=".SosForegroundService"
            android:exported="false"
            android:foregroundServiceType="location|microphone" />

        <!-- AUDIO RECORD -->
        <service
            android:name=".AudioRecordService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <!-- GPS background -->
        <service
            android:name=".LocationTrackingService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <!-- VIDEO RECORDING -->
        <activity
            android:name=".VideoRecordActivity"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- MAIN UI -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- WIDGET UI -->
        <receiver
            android:name=".SOSWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sos_widget_provider"/>
        </receiver>

        <receiver
            android:name=".SosWidgetReceiver"
            android:exported="true" />

    </application>
</manifest>
